.root {
    display: grid;
    grid-template-columns: minmax(275px, 450px) minmax(600px, 1fr);
    height: 100vh;
}

.filterpane {
    padding: 3rem;
    height: 100%;
    overflow: scroll;
}

.contentpane {
    padding: 3rem;
}

.header {
    margin-bottom: 1rem;
}
